:root {
  --red: #b00;
  --blue: #00b;
  --fullwidth: 100%;
  --light-gray: #eee;
  --dark-gray: #ccc;
  --gray-shadow: 0px 0px 20px 0px rgba(0,0,0,0.33);

  --header-height: 40px;
  --footer-height: 40px;
}

* {
  font-family: 'Roboto', sans-serif;
}