:root {
  --light-gray: #eee;
  --dark-gray: #ccc;
  --gray-shadow: 0px 0px 20px 0px rgba(0,0,0,0.33);
  --gray-shadow-small: 0px 0px 10px 0px rgba(0,0,0,0.33);

  --header-height: 40px;
  --footer-height: 40px;
}

* {
  font-family: 'Roboto', sans-serif;
}